name: tests

on: [push, pull_request]

concurrency:
  group: check-${{ github.ref }}
  cancel-in-progress: true

jobs:

  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Run linters
        run: |
            uv run ruff check .
            uv run ruff format --check .

  test:
    needs: linting
    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-latest", "macos-latest" ]
        python-version: [ "3.9", "3.10", "3.11", "3.12" ]
        exclude:
          - os: "macos-latest"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Configure git
        run: |
          git config --global user.email "ci@20c.com"
          git config --global user.name "CI Runner"
      - name: Run tests
        run: |
          uv run pytest --cov=src --cov-report=xml --cov-report=term-missing
      # upload coverage stats
      - name: Upload coverage
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
